body {
    background-color: rgb(122, 124, 128);
    color: rgb(194, 223, 220);
}
.foto{
    
    width: 400px;
    height: 400px;
    background-color: blue;
    border-radius: 10px;
   
}
div{
height: 400px;
width: 400px;
    border: 8px solid black;
}

ol{
    list-style: none;
}

ul{
    list-style: none;
}